<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--声明开启注解,指定扫描注解的路径-->
    <context:component-scan base-package="com.bdqn"/>


    <!--将被引用的实体类纳入到Spring的管理中-->
    <!--<bean id="smbmsRole" class="com.bdqn.SmbmsRole">-->
        <!--&lt;!&ndash;通过构造注入相关属性&ndash;&gt;-->
        <!--&lt;!&ndash;<constructor-arg name="roleCode" value="Manager"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<constructor-arg name="roleName" value="经理"/>&ndash;&gt;-->
        <!--<constructor-arg index="0" value="3" />-->
        <!--<constructor-arg index="1" value="Admin"/>-->
        <!--<constructor-arg index="2" value="管理"/>-->
        <!--&lt;!&ndash;通过set注入相关属性&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="roleCode" value="Admin"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="roleName" value="管理员"/>&ndash;&gt;-->

        <!--&lt;!&ndash;<constructor-arg name="creationDate" value="new Date(2020-5-21)"/>&ndash;&gt;-->
    <!--</bean>-->

<!--将实体类纳入到Spring的管理中-->
    <!--<bean id="customerUser" class="com.bdqn.CustomUser">-->
        <!--&lt;!&ndash;注入 所依赖的值 或实体&ndash;&gt;-->
        <!--<property name="name" value="ETC"/>-->
        <!--<property name="smbmsRole" ref="smbmsRole"/>-->
    <!--</bean>-->

    <!--将目标方法，也就是需要被增强的方法纳入到Spring的管理中-->
    <bean id="userService" class="com.bdqn.service.SmbmsUserService"/>

    <!--先将增强方法所在的类，纳入Spring的管理中-->
    <bean id="logAspect" class="com.bdqn.aspect.LogAspect"/>

    <!--开始配置切面 -->
    <aop:config>
        <!--指定切入点，也就是要增强的位置-->
        <!--com.bdqn.service.SmbmsUserService; com.bdqn.service.impl.SmbmsRoleServiceImpl-->
        <aop:pointcut id="pointcut" expression="execution(public * com.bdqn.service..*.*(..))"/>
        <!--指定增强类型-->
        <aop:aspect ref="logAspect">
            <!--前置增强，同时指定前置所调用的方法-->
            <!--<aop:before method="beforeAdvice" pointcut-ref="pointcut"/>-->
            <!--&lt;!&ndash;后置返回增强，可以获取到目标方法的返回值 &ndash;&gt;-->
            <!--<aop:after-returning method="afterAdevice" returning="result" pointcut-ref="pointcut"/>-->
            <!--异常抛出增强-->
            <!--<aop:after-throwing method="afterThrowAdevice" throwing="e" pointcut-ref="pointcut" />-->
            <!--后置增强，也就是最终增强，就是无伦目标方法发生什么，都会最后执行-->
            <!--<aop:after method="finallyAdevice" pointcut-ref="pointcut" />-->
            <!--环绕增强，目标方法前后都会执行-->
            <aop:around method="aroudAdevice" pointcut-ref="pointcut"/>

        </aop:aspect>
    </aop:config>

</beans>
    
