<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--通过注解的方式来管理控制器-->
    <!--指定需要扫描包的路径-->
    <context:component-scan base-package="com.bdqn.controller"/>
    <!--开启使用注解-->
    <mvc:annotation-driven/>

    <!--配置静态资源 -->
    <mvc:resources mapping="/js/**" location="/js/"/>

    <!--配置文件传上传处理器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--指定文件上传大小的限制-->
        <property name="maxUploadSize" value="500000"/>
        <!--指定文件上传的编码-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--指定视图前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--指定视图后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>
    
